
<div mat-dialog-title>
    <h1>Tareas</h1>
</div>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <div class="columna">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="Nombre" formControlName="nombre" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Encargado</mat-label>
                <input matInput type="text" placeholder="Encargado" formControlName="encargado" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contenido</mat-label>
                <input matInput type="text" placeholder="Contenido" formControlName="contenido" required>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button type="submit">Agregar</button>
    </div>