.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.login {
  margin-left: auto;
}