<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/login">Login</a>
      <a mat-list-item href="/register">Registro Residentes</a>
      <a mat-list-item href="/adminReg">Registro Trabajadores</a>
      <a mat-list-item href="/finanzas">Finanzas</a>
      <a mat-list-item href="/pagos">Pagos</a>
      <a mat-list-item href="/comunica">Circulares</a>
      <a mat-list-item href="/tareas">Tareas</a>
    
      
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>